body{
    background: #F0F1F5;
    margin: 0;
    padding: 2rem 12rem;
    font-family: "Helvetica", sans-serif;
}

header > p{
    float: left;
    color: orange;
}

nav{
    text-align: right;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    padding: 0 8px;
}

nav ul li a{
    color: orange;
    text-decoration: none;
}

main section:nth-child(1){
    margin-top: 3rem;
    background-image: url("../Requirements-and-Resources/Images/picture.jpg");
    background-size: cover;
    background-position: center;
    padding: 19rem;
}

main section:nth-child(1) h1{
    color: white;
}

main section:nth-child(1) span{
    color: orange;
}

main section:nth-child(1) button{
    background: orange;
    border: none;
    color: white;
    font-size: 22px;
    padding: 12px;
    font-weight: bold;
}

main section:nth-child(2) article{
    background: orange;
    color: white;
    width: 30%;
    display: inline-block;
    padding: 20px;
}

main section:nth-child(2) article h3{
    text-align: center;;
}